<!DOCTYPE html>
{% if request.session.rol.id == 1 %}
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{% url 'app:admin' %}" class="simple-text">
            Verde Solution
        </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="{% url 'app:list_ot' %}">
                    <i class="ti-pie-chart"></i>
                    <p>Orden trabajo</p>
                </a>
            </li>
            <li>
                <a href="{% url 'app:settings' %}">
                    <i class="ti-pie-chart"></i>
                    <p>Rubros</p>
                </a>
            </li>
            <li>
                <a href="{% url 'app:list_user' %}">
                    <i class="ti-pie-chart"></i>
                    <p>Usuarios</p>
                </a>
            </li>
        </ul>
    </div>
{% endif %}
{% if request.session.rol.id == 2 %}
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{% url 'app:admin' %}" class="simple-text">
            Verde Solution
        </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="{% url 'app:list_ot' %}">
                    <i class="ti-pie-chart"></i>
                    <p>Orden trabajo</p>
                </a>
            </li>
        </ul>
    </div>
{% endif %}
