<!DOCTYPE html>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-success" data-toggle="modal" data-target="#modal_material"><i class="fa fa-plus"></i> Agregar Material </button>
        </div>
        <div class="pull-left">
            <button id="removerMaterial" class="btn btn-danger"><i class="fa fa-trash"></i> Remover</button>
        </div>
        <div class="clearfix"></div>
        <br>
        <table data-toggle="table" id="tb_material">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true" class="col-md-1"></th>
                    <th data-field="cod" data-align="center" class="col-md-1">Cod.</th>
                    <th data-field="descripcion" class="col-md-9">Descripción</th>
                    <!--<th data-align="center">Unidad</th>-->
                    <th data-field="cantidad" class="col-md-1" data-align="center" data-formatter="input_format" data-events="btn_accion">Utilizado</th>
                    <!--<th data-field="v_unit" data-align="center">V. Unit.</th>
                    <th data-field="total" data-align="center">V. Total</th>-->
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="modal_material" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Listado de Material</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <select class="selectpicker" id="cboCant">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                        <div class="pull-right">
                            <input type="text" class="form-control" placeholder="Buscar..!">
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <table data-toggle="table">
                            <thead>
                                <tr>
                                    <th data-field="id">Cod.</th>
                                    <th data-field="nombre">Detalles</th>
                                    <th data-field="medida">Medida</th>
                                    <th data-field="stock">Stock</th>
                                    <th data-field="accion" data-align="center" data-formatter="btn" data-events="btn_accion">Accion</th>
                                </tr>
                            </thead>
                            <!--<tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Bomba centrifuga</td>
                                    <td></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Cincel 3/4"</td>
                                    <td></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Cincel 10"</td>
                                    <td>273mm</td>
                                    <td>10</td>
                                </tr>
                            </tbody>-->
                        </table>
                        <div class="clearfix"></div>
                        <div class="pull-right">
                            <ul id="pagination-material" class="pagination-sm"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>