<!DOCTYPE html>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label  class="control-label">Tipo Mantenimiento:</label>
                    <select id="cboTipo_mantenimiento"  class="form-control">

                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label  class="control-label">Nombre del solicitante:</label>
                    <input type="text" class="form-control" value="EPMAPAQ" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="f_pedido" class="control-label">Fecha pedido: </label>
                    <div class="input-group date day_date" data-link-field="f_pedido">
                        <input class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                    <input type="hidden" id="f_pedido" value="" /><br/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="f_planificada" class="control-label">Fecha planificada: </label>
                    <div class="input-group date day_date" data-link-field="f_planificada">
                        <input class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                    <input type="hidden" id="f_planificada" value="" /><br/>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="fechaInicio" class="control-label">Fecha inicio: </label>
                    <div class="input-group date day_date" data-link-field="fechaInicio">
                        <input class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                    <input type="hidden" id="fechaInicio" value="" /><br/>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="fechaCierre" class="control-label">Fecha cierre: </label>
                    <div class="input-group date day_date exclude" data-link-field="fechaCierre" >
                        <input class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                    <input type="hidden" id="fechaCierre" value="" /><br/>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label  class="control-label" style="color:white;">.</label>
                    <button class="btn btn-success" data-toggle="modal" data-target="#myModal" id="btn_hora" ><i class="fa fa-clock-o"></i> Hora</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label  class="control-label">Jefe de area:</label>
                    <select id="cbo_jefe" class="form-control">
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label  class="control-label">Coord. Mant.:</label>
                    <select id="cbo_coord" class="form-control">
                        <!--<option value="">Sr. Andres Benitez</option>-->
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label  class="control-label">Parroquia:</label>
            <select id="cboParroquia" class="form-control selectpicker show-tick" data-size="5" data-container="body">
            </select>
        </div>
        <div class="form-group">
            <label  class="control-label">Dirección:</label>
            <input id="i_direccion" type="text" class="form-control" >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label  class="control-label">Descripción del problema:</label>
            <textarea id="i_problema"  class="form-control"  rows="6"></textarea>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label  class="control-label">Observación:</label>
            <textarea id="i_observacion"  class="form-control"  rows="6"></textarea>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Especificar horario de trabajo</h4>
                </div>
                <div class="modal-body">
                    <p>Generación automatica dependiendo de las fechas registradas</p>
                    <div id="contenedor"></div>
                    <div class="modal_horas row hidden" id="opcionD">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label  class="control-label">Fecha:</label>
                                <input name="fecha" type="text" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label  class="control-label">Hora Inicio</label>
                                <input name="h_inicio" type="time" class="form-control time_ini">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Hora Fin</label>
                                <input name="h_fin" type="time" class="form-control time_fin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btn_save_hr"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>