<!DOCTYPE html>
<!-- Maquina -->
<div class="col-md-6">
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label  class="control-label">Contratista: </label>
                <select id="cboContratista"  class="form-control">
                    <option value="">Contratista 1</option>
                    <option value="">Contratista 2</option>
                </select>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label  class="control-label">Maquinaria: </label>
                <select id="cbo_maq"  class="form-control">
                    <option value="">Retroexcavadora</option>
                    <option value="">Martillo Neumatico</option>
                    <option value="">Volqueta</option>
                    <option value="">Grua en general</option>
                </select>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label  class="control-label" style="color: white">.</label>
                <button class="btn btn-success" id="btn_add_maq"><i class="fa fa-plus"></i> Agregar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="maquinaria_select">
                <div class="input-group hidden" id="op_add_maq">
                    <span class="input-group-btn">
                        <button class="btn btn-danger delete" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        <button class="btn btn-success disabled" type="button" style="width: 150px;"></button>
                    </span>
                    <input type="text" class="form-control" style="width: 50px;" value="1" maxlength="2"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Maquina -->
<!-- Mano Obras -->
<div class="col-md-6">
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="control-label">Mano de obra:</label>
                <select id="cbo_mano_obra" class="form-control">
                    <option value="">Residente de obra</option>
                    <option value="">Maestro de obra</option>
                    <option value="">Ayudante</option>
                    <option value="">Albañil</option>
                </select>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label class="control-label" style="color: white">.</label><br>
                <button class="btn btn-success" id="btn_add_mano_obra"><i class="fa fa-plus"></i> Agregar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-left: 10px;">
            <div id="mano_obra_select">
                <div class="input-group hidden" id="op_add_mano_obra">
                    <span class="input-group-btn">
                        <button class="btn btn-danger delete" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        <button class="btn btn-success disabled" type="button" style="width: 150px;"></button>
                    </span>
                    <input type="text" class="form-control" style="width: 50px;" value="1" maxlength="2">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Mano Obra -->

<div class="clearfix"></div>
<br>
<!-- Actividad-Maquinaria -->
<div class="row actividad_sample">
    <div class="col-md-9">
        <div class="well well-sm">
            <div class="pull-right">
                <button class="btn btn-success" name="btn_area" ><i class="fa fa-plus"></i></button>
            </div>
            <div class="pull-left">
                <div data-toggle="buttons">
                    <label class="btn-gallineta btn buying-selling">
                        <input type="checkbox" name="options" id="opt1">
                        <span class="radio-dot"></span>
                        <span class="buying-selling-word">Gallineta</span>
                    </label>

                    <label class="btn-bobcat btn buying-selling">
                        <input type="checkbox" name="options" id="opt2">
                        <span class="radio-dot"></span>
                        <span class="buying-selling-word">Bobcat</span>
                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="content">
                <div class="row hidden op_add_area" >
                    <div class="col-md-3 col-sm-3">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-danger delete" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                <button class="btn btn-info edit" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </span>
                            <input type="text" class="form-control" value="Area" readonly>
                        </div>
                    </div>
                    <div class="contenedor-area col-sm-8">
                        <input type="text" class="form-control text-center input-area" required value="0.00">
                        <input type="text" class="form-control text-center input-area" required value="0.00">
                        <input type="text" class="form-control text-center input-area" required value="0.00">
                        <input type="text" class="form-control text-center total-area-viaje"  value="0.00" readonly>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Calculo Actividad-Maquinaria -->
    <div class="col-md-3">
        <div class="maq_costo_gall hidden well well-sm">
            <div class="row">
                <div class="col-md-5 col-sm-3">
                    <label class="control-label">Costo $/hr:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-info edit" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </span>
                        <input type="text" class="costo_gallineta form-control" value="25" readonly>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="col-md-5 col-sm-3">
                    <label class="control-label">T Gallineta:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input readonly type="text" class="maq_time_gall form-control text-center">
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="col-md-5 col-sm-3">
                    <label class="control-label">Total:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input readonly type="text" class="total_gallineta text-center form-control">
                </div>
            </div>
        </div>
        <div class="maq_costo_bobc hidden well well-sm">
            <div class="row">
                <div class="col-md-5 col-sm-3">
                    <label class="control-label">Costo $/hr:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-info edit" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </span>
                        <input type="text" class="costo_bobcat form-control" value="31.25" readonly>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="col-md-5 col-sm-3">
                    <label class="control-label">T Bobcat:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input readonly type="text" class="maq_time_bobc form-control text-center">
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="col-md-5 col-sm-3">
                    <label class="control-label">Total:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input readonly type="text" class="total_bobcat text-center form-control">
                </div>
            </div>
        </div>
        <div class="maq_costo hidden well well-sm">
            <div class="row">
                <div class="col-md-5 col-sm-3">
                    <label class="control-label">Costo:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-info edit" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </span>
                        <input type="text" class="costo_viajes form-control" value="12.00" readonly>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="col-md-5 col-sm-3">
                    <label class="control-label">N° Viajes:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input readonly type="text" class="num_viaje form-control text-center" value="0.00">
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="col-md-5 col-sm-3">
                    <label class="control-label">Total:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input readonly type="text" class="total_viajes text-center form-control" value="0.00">
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Calculo Actividad-Maquinaria -->
</div>
<!-- Fin Actividad-Maquinaria -->