{% extends 'app/base.html' %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'app/table/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{%block contenedor %}
<div class="row">
    <div name="redimensionar" data-id="{{ id }}" class="container">
        <div class="pull-left">
            <div class="form-inline">
                <input type="text" id="_cod" class="form-control" style="width: 300px; font-weight: bold;"  readonly/>
                <input name="costo_general" title="Costos General" type="text" class="form-control" style="width: 80px; font-weight: bold;" value="$ 00.00"  readonly/>
            </div>

        </div>
        <div class="pull-right">
            <!--<button id="_cancel" class="btn btn-danger">Cancelar</button>-->
            <a href="{% url 'app:list_ot' %}" class="btn btn-danger">Cancelar</a>
            <button id="_save" class="btn btn-info">Guardar</button>
            <!--<button id="_redirect" class="btn btn-info">Redirect</button>-->
        </div>
        <div class="clearfix"></div>
        <br>
        <div id="exTab2" class="card">
        <ul class="nav nav-tabs">
            <li class="active" >
                <a  href="#tab_inicio" data-toggle="tab">Inicio</a>
            </li>
            <li>
                <a href="#tab_maquinaria" data-toggle="tab">Maquinaria</a>
            </li>
            <li >
                <a href="#tab_actividades" data-toggle="tab">Actividades</a>
            </li>
            <li >
                <a href="#tab_rubros" data-toggle="tab">Rubros</a>
            </li>
            <li>
                <a href="#tab_fotos" data-toggle="tab">Fotos</a>
            </li>
        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="tab_inicio">
                {% include 'app/o_t/tab_inicio.html' %}
            </div>
            <div class="tab-pane " id="tab_maquinaria">
                {% include 'app/o_t/tab_maquinaria.html' %}
            </div>
            <div class="tab-pane " id="tab_actividades">
                {% include 'app/o_t/tab_actividades.html' %}
            </div>
            <div class="tab-pane " id="tab_rubros">
                {% include 'app/o_t/tab_rubros.html' %}
            </div>
            <div class="tab-pane" id="tab_fotos">
                {% include 'app/o_t/tab_fotos.html' %}
            </div>
        </div>
    </div>
    </div>


</div>

{% endblock %}


{% block js %}
    <!--<script src="{% static 'app/js_event/jquery.inputmask.bundle.min.js' %}" type="text/javascript"></script>-->
    <!--<script src="{% static 'app/js_event/moment.js' %}" type="text/javascript"></script>-->
    <script src="{% static 'app/js/function.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js_event/style_k.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js_event/style.js' %}" type="text/javascript"></script>

    <!-- Table -->
    <script src="{% static 'app/table/bootstrap-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/table/bootstrap-editable.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/table/bootstrap-table-editable.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/table/locale/bootstrap-table-es-ES.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js_event/style_table.js' %}" type="text/javascript"></script>
    <!-- Table -->
{% endblock %}