{% extends 'app/base.html' %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'app/table/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{%block contenedor %}
    <div class="row">
        <div style="width: 50%; margin: 0 auto;" >
            <div class="pull-left">
                <div class="input-group date year_date" data-link-field="dtp_input2" >
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" />
            </div>
            <div class="pull-right">
                <button data-toggle="modal" data-target="#add-modif" class="btn btn-info"><i class="fa fa-plus"></i> Agregar</button>
            </div>
            <div class="clearfix"></div>
            <br>
            <table data-toogle="table" data-unique-id="id" id="tb_precio_rubro">
                <thead>
                <tr>
                    <th data-field="id" data-align="center">Cod.</th>
                    <th data-field="fecha_mes" data-align="center">Fecha</th>
                    <th data-field="accion" data-align="center">Acción</th>
                </tr>
                </thead>
            </table>
            <div class="pull-right">
                <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>



    <div id="add-modif" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title">Nueva Configuración</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="dtp_input2" class="control-label">Mes: </label>
                                <div class="input-group date month_date" data-date="" data-date-format="dd MM yyyy" data-link-field="f_precio" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" size="16" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <input type="hidden" id="f_precio" value="" /><br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <h4>Transporte</h4>
                    <div class="well well-sm">
                        <div class="form-group">
                            <label for="" class="control-label">Total KM: </label>
                            <input id="t_km" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Valor KM: </label>
                            <input id="v_km" type="text" class="form-control">
                        </div>
                    </div>
                    <h4>Operaciones</h4>
                    <div class="well well-sm">
                        <div class="form-group">
                            <label for="" class="control-label">Porcentaje: </label>
                            <input id="porcentaje_op" type="text" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <h4>Seguridad Industrial</h4>
                    <div class="well well-sm">
                        <div class="form-group">
                            <label for="" class="control-label">Total: </label>
                            <input id="t_si" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Cant. Hombre: </label>
                            <input id="c_hombre" type="text" class="form-control">
                        </div>
                    </div>

                    <h4>RRHH</h4>
                    <div class="well well-sm">
                        <div class="form-group">
                            <label for="" class="control-label">Promedio: </label>
                            <input id="rrhh_avg" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" id="_save">Guardar</button>
          </div>
        </div>

      </div>
    </div>

{% endblock %}



{% block js %}
    <script src="{% static 'app/js_event/jquery.inputmask.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/table/bootstrap-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/table/locale/bootstrap-table-es-ES.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/setting/o_t/function.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/setting/o_t/style.js' %}" type="text/javascript"></script>
{% endblock %}